body {
    color: #1d8057;
    background-color: #cfded0;
}

.container {
    min-height: 85vh;
}

.navbar-brand img {
    height: 40px;
}

.navbar-light .navbar-nav .nav-link {
    color: #e4a799;
    font-weight: 600;
}

.navbar-light .navbar-nav .active .nav-link, .navbar-light .navbar-nav .nav-link:hover {
    color: #25776c;
}


.bg-blanco {
    background-color: #ffffff;
}

.bg-gris-claro {
    background-color: #cfded0;
}

.bg-gris {
    background-color: #5a6c72;
}

.bg-gris-oscuro {
    background-color: #1D2C34;
}

.bg-verde-oscuro {
    background-color: #1d8057;
}

.bg-amarillo {
    background-color: #E6BD57;
}

.bg-naranjo {
    background-color: #EB8F2F;
}

.bg-rojo {
    background-color: #B02D21;
}


.texto-blanco {
    color: #ffffff;
}

.text-gris-claro {
    color: #cfded0;
}

.text-gris {
    color: #5a6c72;
}

.text-gris-oscuro {
    color: #1D2C34;
}

.text-verde-oscuro {
    color: #1d8057;
}

.text-amarillo {
    color: #E6BD57;
}

.text-naranjo {
    color: #EB8F2F;
}

.text-rojo {
    color: #B02D21;
}